<table>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/senior.jpg">
            </div>
        </td>
        <td>
            I am a computer programmer with experience in Java, Javascript, Python, C, and HTML. I also have some experience in iOS and Android development.
        </td>
    </tr>
    <tr>
        <td>
            I am a Senior at Northeastern University in Boston, MA pursuing a BS in Computer Science with a concentration in Cyber Operations.
        </td>
        <td>
            <div style="text-align:center">
                <img src="/static/images/neu.jpg">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/meanstack.jpg">
            </div>
        </td>
        <td>
            I am interested in Cyber Security and Web Application development. I have been using the MEAN stack to develop applications(MongoDB, Express Train, AngularJs, and NodeJs) as well as using Python with AngularJs.
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>