<table>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/senior.jpg">
            </div>
        </td>
        <td>
            I am a computer programmer with experience in Java, Javascript, Python, C, and HTML. My passion lies in security and the defense of infrastructure and software.
        </td>
    </tr>
    <tr>
        <td>
            I am a Senior at Northeastern University in Boston, MA pursuing a BS in Computer Science with a concentration in Cyber Operations.
        </td>
        <td>
            <div style="text-align:center">
                <img src="/static/images/neu.jpg">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/meanstack.jpg">
            </div>
        </td>
        <td>
            I am interested in Cyber Security and Web Application development. Recently, I have been developing Flask applications with an AngularJS front end as well as trying to get more hands on experience with security and investigative tools.
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>