<table>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/senior.jpg">
            </div>
        </td>
        <td>
            I am a computer programmer with experience in Java, Javascript, Python, C, C++, and HTML. My passion lies in security and the defense of infrastructure and software.
        </td>
    </tr>
    <tr>
        <td>
            I am currently employed at Raytheon in the Space and Airborne Systems division as a Software Engineer.
        </td>
        <td>
            <div style="text-align:center">
                <img src="/static/images/raytheon.png">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/neu.jpg">
            </div>
        </td>
        <td>
            I graduated from Northeastern University in Boston, MA with a BS in Computer Science with a Concentration in Cyber Operations. I am also pursuing my Master's of Science in Computer Science from Northeastern.
        </td>
    </tr>
</table>