<table>
    <tr>
        <td>

            <h4>Northeastern University in Boston, MA</h4> <br>
            Bachelor's of Science in Computer Science with a Concentration in Cyber Operations <br>
            Graduated May 2017 <br>
            GPA: 3.90, Summa Cum Laude <br>
            Dean's List: Fall 2012, Spring 2013, Fall 2013, Fall 2014, Fall 2015, Fall 2016, Spring 2017 <br>
            Enrolled in the Honors Program <br>

        </td>
        <td>
            <div style="padding-left: 20%;">
                Classes taken:
                <ul>
                    <li ng-repeat="class in classes">{{class.name}}</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <h4>Northeastern University in Boston, MA</h4> <br>
            Master's of Science in Computer Science with a Specialty in Information Security <br>
            Expected Graduation May 2019 <br>
            GPA: 4<br>
        </td>
        <td>
        </td>
    </tr>
</table>