<div>
    <div style="padding-bottom:10px">
        <a href="https://www.linkedin.com/pub/craig-ellis/58/4b7/2"><img src="/static/images/linkedin.png" class="footer-icon"></a>
        <a href="https://www.github.com/cjellis"><img src="/static/images/github.png" class="footer-icon"></a>
    </div>
    <div style="font-size:11px">
        <span>Contact me at <a href="mailto:ellis.cr@husky.neu.edu">ellis.cr@husky.neu.edu</a> or <a href="tel:774-573-4557">(774)573-4557</a></span>
    </div>
    <div style="font-size:11px">
        <span style="margin-right: 30px">Website created using <a href="https://angularjs.org/">AngularJs</a></span>
        <span>Copyright Craig Ellis 2016</span>
    </div>
</div>