<table>
    <tr>
        <td>
            <div style="text-align:center">
                <img src="/static/images/boston-logos.jpg" width="65%">
            </div>
        </td>
        <td>
            I spend my free time playing and watching sports as well as going to the gym. I enjoy watching hockey, soccer, and football as well as playing soccer and tennis. I am a fan of all New England sports teams.
        </td>
    </tr>
    <tr>
        <td>
            <p>
                I enjoy playing video games such as League of Legends, Elder Scrolls, Minecraft, and Hearthstone.
            </p>
        </td>
        <td>
            <div style="text-align:center">
                <img src="/static/images/Hearthstone.png" width="50%">
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            I also spend time programming on my own. I am currently working on developing Python applications. I also want to begin working with a Raspberry Pi I purchased.
        </td>
    </tr>
    <tr>
        <td>
                I have created my own desktop computer over the past few years:
            <ul>
                <li ng-repeat="part in computer">{{part.part}}</li>
            </ul>
        </td>
        <td>
            <div style="text-align:center">
                <img src="/static/images/keyboard.jpg" width="50%">
            </div>
            <div style="text-align:center">
                <img src="/static/images/computer.jpg" width="50%">
            </div>
        </td>
    </tr>
</table>


