<div style="text-align:center; padding-bottom:40px;padding-top:40px;">
    I enjoy working on many programming projects from video games to websites. I focus on Javascript applications as well as Python applications.
</div>
<table>
    <tr style="border-top:1px solid black;">
        <td>
            I am currently working towards a Cisco Certified Network Associate (CCNA) Cyber Ops certification
        </td>
    </tr>
    <tr style="border-top:1px solid black;">
        <td>
            <p>
                My friend Andrew Morin and I created pong using Java during Freshman year.<br>
                It is a two player game with player one using the w,a,s,d keys and player two using the arrow keys.<br>
                The game is started using the E key and can be paused using the P key.
            </p>
            <form method="get" action="/static/attachments/pong.jar" style="text-align:center">
                <button type="submit">Download Pong!</button>
            </form>
        </td>
        <td >
            <div style="text-align:center">
                <img src="/static/images/pong.PNG" width="50%">
            </div>
        </td>
    </tr>
    <tr style="border-top:1px solid black;">
        <td></td>
        <td>
            I also created this website from scratch using Python, AngularJs, HTML, and CSS.<br>
            I am continually updating it to reflect myself and I continue to add more functionality using Angular.
        </td>
    </tr>
    <!--tr style="border-top:1px solid black;">
        <td>
            I am also working on a web application with my friends Andrew Morin and Josh Tassone.<br>
            It will help people track their car's mileage and gas mileage over time.<br>
            It is currently in its beginning stages with a basic web framework and Mongo DB set up.<br>
            We plan to offer it as a web application with a mobile application. The first mobile app will be Android then possibly iOS.<br>
            We are also looking into data visualizations using D3 to give the users a graphical representation of their car's miles and MPG.
        </td>
        <td>
        </td>
    </tr-->
</table>


