<table>
    <tr>
        <td>
            <h4>
                Software Engineer
            </h4>

            <h5>
                &nbsp Raytheon; Marlborough, MA
            </h5>

            <h6>
                &nbsp June 2017 - Present
            </h6>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                SDN Developer
            </h4>

            <h5>
                &nbsp Cisco Systems; Boxborough, MA
            </h5>

            <h6>
                &nbsp January 2015 - February 2017
            </h6>
        </td>
        <td>
            <ul>
                <li>Developed SDN applications, including an application that I wrote by myself, using Java and OpenDaylight</li>
                <li>Developed System and Unit tests for the Cisco cBR8 using Python</li>
                <li>Developed C code for the Cisco cBR8 CMTS</li>
                <li>Presented the applications and provided demonstrations to customers around the world</li>
                <li>Wrote front end HTML and Javascript, including AngularJs, for the SDN applications</li>
                <li>Worked closely with various engineers across the department</li>
                <li>Learned about cable and internet topology and how to diagnose and view a network</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Web Application Developer
            </h4>

            <h5>
                &nbsp Mitre Corporation; Bedford, MA
            </h5>

            <h6>
                &nbsp January 2014 - August 2014
            </h6>
        </td>
        <td>
            <ul>
                <li>Developed and maintained Java and Javascript web applications</li>
                <li>Wrote two Javascript web applications(back end and front end)</li>
                <li>Led daily standup meetings as part of the Agile Development Process</li>
                <li>Assisted new employees in getting acclimated to the code and the company</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Technical Support
            </h4>

            <h5>
                &nbsp Northeastern University InfoCommons; Boston, MA
            </h5>

            <h6>
                &nbsp August 2012 - January 2017
            </h6>

        </td>
        <td>
            <ul>
                <li>Provided in-person and phone support for a range of technical issues</li>
                <li>Properly resolved issues with wireless networking, printing, and computing</li>
                <li>Installed and maintained operating systems (Windows 7 and Mac OS)  in campus labs</li>
                <li>Handled confidential information with care and privacy</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h4>
                Technical Manager
            </h4>

            <h5>
                &nbsp Bright Insurance Agency; Milford, MA
            </h5>

            <h6>
                &nbsp May 2012 - December 2013
            </h6>
        </td>
        <td>
            <ul>
                <li>Developed and enforced security measures in the office</li>
                <li>Maintained the computers (Windows XP and 7) and printers within the office</li>
                <li>Provided technical support for both branches of the company</li>
                <li>Converted data from a recently purchased agency to the proper format for the office</li>
            </ul>
        </td>
    </tr>
</table>